body {
    font-family: Arial, sans-serif;
    background: #f4f7f6;
    margin: 0;
}

/* Contenedor principal */
.cv {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

/* Secciones */
.seccion {
    margin-bottom: 20px;
}

/* Perfil */
.perfil {
    text-align: center;
}

/* Imagen */
.foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* Títulos */
h1 {
    color: #2c3e50;
}

h2 {
    color: #34495e;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th {
    background: #3498db;
    color: white;
}

td, th {
    padding: 10px;
    text-align: center;
}